body{
    background-color: black;
}
div{
    background-color: rgba(73, 67, 67, 0.7);
    color: white;
    margin-bottom: 1em;
    border-color: white;
}
a{
    display:block;
    text-decoration: none;
}